<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Can.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Can.Properties.Settings>
            <setting name="connectString" serializeAs="String">
                <value />
            </setting>
            <setting name="Machine_Name" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="admin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="isRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NhanVien" serializeAs="String">
                <value />
            </setting>
            <setting name="LanCan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoPhieuCan" serializeAs="String">
                <value />
            </setting>
            <setting name="SoLanDungThu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="scaleType" serializeAs="String">
                <value>False</value>
            </setting>
        </Can.Properties.Settings>
    </userSettings>
</configuration>